:root {
  /*--border-size: 1px;*/
  --border-size: .16vw;
  /*--border-size: .2vw;*/
}

.roundedEdges {
  /*border: var(--border-size) solid var(--stroke-color);*/
  /*border-radius: 1vw 1vw 2vw 2vw;*/
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .7vw 0 .25vw 0;
  height: 2.6vw;
  cursor: pointer;
  overflow: hidden;
  border-bottom: var(--border-size) solid var(--stroke-color);
  /*border: var(--border-size) solid var(--stroke-color);*/
  /*border: var(--border-size) solid var(--stroke-color);*/
  /*border: var(--border-size) solid var(--stroke-color);*/
}
/*
.column:hover {
  background-color: var(--stroke-color);
}*/

.selectedColumn {
  background-color: var(--stroke-color);
}

.withBorderBottom:not(:last-child) {
  border-bottom: var(--border-size) solid var(--stroke-color);
}

.radioBox {
  margin:  0 0.3vw 0 1vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioImg {
  height: 1.4vw;
  width: 1.4vw;
}

.radio {
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  margin: 0 .4vw;
}

.title {
  font-size: 1vw;
  margin: 0 0 .45vw 0;
  font-weight: 600;
}

.onlyTitle {
  margin: 0;
}

.subtitle {
  font-size: 0.8vw;
  margin: 0;
  color: var(--unchoiced-text-color);
}

.choicedSubtitle {
  color: var(--main-button-color);
}

.label {
  cursor: pointer;
}
