.simplebar-scrollbar {
  background: var(--main-button-color);
  border-radius: 2vw;
  /*height: 5vw!important;*/
}

.simplebar-track {
  transform: translateX(1.2vw);
  background: var(--stroke-color);
  border-radius: 2vw;
}

.simplebar-track.simplebar-horizontal {
  width: 0;
}

.simplebar-track.simplebar-vertical {
  width: .45vw;
}

.simplebar-scrollbar:before {
  background: var(--main-button-color);
}

