:root {
  --main-text-color: #1c154e;
  --additional-text-color: #afb4cc;
  --placeholder-text-color: #d0d3e2;
  --stroke-color: #e1e3ee;
  --main-bg-color: #fff;
  --shadow-color: #e2e7ff;
  --main-button-color: #23c967;
  --text-button-color: #fff;
  --additional-button-color: #ea717f;
}

body {
  background: #f4f5fa;
  color: var(--main-text-color);
  font-family: gilroy, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
