:root {
  --main-text-color: #1C154E;
  --placeholder-text-color:  #D0D3E2;

  --stroke-color: #E1E3EE;

  --main-bg-color: #fff;

  --main-button-color: #23C967;
  --text-button-color: #fff;
  --additional-button-color: #EA717F;
}

body {
  background: #F4F5FA;
  color: var(--main-text-color);
  font-family: gilroy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
