.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.imgLabel {
  margin-right: .2vw;
}

.textField {
  font-size: .8vw;
  letter-spacing: .04vw;
  color: var(--additional-text-color);
}
